@import "tailwindcss";
@import "tailwindcss/theme.css";
@import "tailwindcss/utilities.css";

body {
  @apply font-sans;
  color: #22313f;
  background-color: #8dc6ff; 
}

.top-fade {
  background: linear-gradient(
    to bottom,
    rgba(141, 198, 255, 0) 0%,
    rgba(141, 198, 255, 1) 2%,
    rgba(141, 198, 255, 1) 100%
  );
}

.text-skill{
  font-weight: 600;
}
.text-skill.highlighted{
  color: white;
}

* {
  scrollbar-width: none;
}
*::-webkit-scrollbar {
  display: none;
}

html, body, * {
  -ms-overflow-style: none;  /* IE/Edge legacy */
  overflow: -moz-scrollbars-none;
}
